
.bg_image {
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

/* form css */
form {
    margin-top: 120px;
    align-items: center;
    margin-bottom: 20 px;
}

form input {
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

form button {
    box-shadow: none;
    padding: 5px 10px;
    font-size: 14px;
    width: 35%;
    height: 40px;
    align-items: center;
    background-color: #05e017;
    color: #fff;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1,
        -3px -3px 3px #fff;
    letter-spacing: 1.3px;
    padding: 5px 10px;
    font-size: 14px;
    color:floralwhite;
    border: none;
    cursor: pointer;
}

form btn:hover {
    background-color: #03f417;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    display:flex;
    

}